/semester_5/osi/lab1.1/os/threads/e
/semester_5/osi/lab1.1/os/threads/a
/semester_5/osi/lab1.1/os/threads/b
/semester_5/osi/lab1.1/os/threads/c
/semester_5/osi/lab1.1/os/threads/d
/semester_5/osi/lab1.1/os/threads/t
/semester_5/osi/lab1.2/a
/semester_5/osi/lab1.2/b
/semester_5/osi/lab1.2/c
/semester_5/osi/lab1.2/d
/semester_5/osi/lab1.2/e
/semester_5/osi/lab1.2/f
/semester_5/osi/lab1.3/a
/semester_5/osi/lab1.3/b
/semester_5/mtv/funny_lexer_hw/__pycache__
/semester_5/mtv/funny_lexer_hw/dfa.json
/semester_5/mtv/funny_lexer_hw/dfa.json
/semester_5/mtv/funny_lexer_hw/tests/__pycache__
